@model WebComputos.Models.ViewModels.ReporteCausalesVM
@{
    ViewData["Title"] = "Reporte";
    Layout = "";
    int contador = 0;
    List<PuntosRec> Puntos = Model.ListadoCausales;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--Css todos-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
</head>
<body>
    <style>
        header {
            width: auto;
            clear: both;
        }

        .Texto {
            width: auto;
            height: 25px;
            background: #656464;
        }

        .Texto1 {
            text-align: center;
            font-size: 140%;
            font-weight: bold;
            color: white;
        }

        .Texto2 {
            text-align: center;
            font-size: 140%;
            font-weight: bold;
            color: black;
        }

        .TextoCuerpo {
            text-align: center;
            font-size: 160%;
        }

        .TextoFirma {
            text-align: center;
            font-size: 120%;
        }

        .TextoCabecera {
            text-align: center;
            font-size: 120%;
            font-weight: bold;
            margin-bottom: 0px;
            padding-bottom: 0em;
        }

        .color {
            background-color: #F9B9EE;
        }

        .linea {
            color: black;
            font-size: 2;
        }

        .saltopagina {
            display: none;
        }

        .saltopagina {
            display: block;
            page-break-before: always;
        }

        .Derecha {
            text-align: right;
        }

        table td:first-child {
            width: 10%;
        }

        table td:nth-child(2) {
            width: 40%;
        }

        table td:nth-child(3) {
            width: 40%;
        }

        table td:last-child {
            width: 10%;
        }

        table.SinCausal td:first-child {
            width: 10%;
        }

        table.SinCausal td:nth-child(2) {
            width: 45%;
        }

        table.SinCausal td:last-child {
            width: 45%;
        }
    </style>
    <header>
        <div class="form-group row">
            <div class="col-4">
                <img src="/Imagenes/Logos/IEEN200.png" />
            </div>
            <div class="col-4">
                <p class="Texto2">CONSEJO MUNICIPAL ELECTORAL DE @Model.Municipio.ToUpper()</p>
            </div>
        </div>
    </header>
    <div class=" Texto">
        <p class="Texto1">
            LISTADO DE CASILLAS A RECUENTO POR GRUPO DE TRABAJO
        </p>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <p class="TextoCuerpo">ELECCIÓN: <b> <u>@Model.Eleccion</u></b></p>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <table class="table table-bordered">
                @foreach (var causalseccion in Puntos)
                {<tr>
                     <div class="row">
                         <div class="col-12"><p class="TextoCuerpo">GRUPO DE TRABAJO: <b> <u>@causalseccion.NoGrupos</u></b></p></div>
                     </div>
                     <table class="table table-bordered">
                         <thead class="thead-light">
                             <tr>
                                 <th class="text-center" scope="col">#</th>
                                 <th class="text-center" scope="col">Número de Sección</th>
                                 <th class="text-center" scope="col">Casilla</th>
                                 <th class="text-center" scope="col"></th>
                             </tr>
                         </thead>
                         <tbody>
                             @{
                                 @for (int i = 0; i < causalseccion.TotalCasillas; i++)
                                 {
                                     int num = i + 1;
                                     <tr>
                                         <th class="text-center" scope="col">@num </th>
                                         <td class="text-center">@Model.CCausal.Select(x => x.NoSeccionCC).ElementAt(contador)</td>
                                         <td class="text-center">@Model.CCausal.Select(x => x.CasillaCC).ElementAt(contador)</td>
                                         <td class="text-center"></td>
                                     </tr>

                                     contador = contador + 1;
                                 }
                             }
                         </tbody>
                     </table>
                </tr>
                <br />
                }
            </table>
        </div>
    </div>
    @*<div class="saltopagina">
        <header>
            <div class="form-group row">
                <div class="col-4">
                    <img src="/Imagenes/Logos/IEEN200.png" />
                </div>
                <div class="col-4">
                    <p class="Texto2">CONSEJO MUNICIPAL ELECTORAL DE @Model.Municipio.ToUpper()</p>
                </div>
            </div>
        </header>
    </div>
    <div class=" Texto">
        <p class="Texto1">
            LISTADO DE CASILLAS SIN CAUSALES DE RECUENTO
        </p>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <p class="TextoCuerpo">ELECCIÓN: <b> <u>GUBERNATURA</u></b></p>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <table class="table table-bordered SinCausal">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center" scope="col">#</th>
                        <th class="text-center" scope="col">Número de Sección</th>
                        <th class="text-center" scope="col">Casilla</th>
                    </tr>
                </thead>
                @{
                    int num1 = 0;
                }
                @foreach (var row in Model.SCausal)
                {
                    num1 = num1 + 1;
                    <tr>
                        <th class="text-center" scope="col">@num1</th>
                        <td class="text-center">@row.NoSeccionSC</td>
                        <td class="text-center">@row.CasillaSC</td>
                    </tr>
                }
            </table>
        </div>
    </div>*@
</body>
</html>
